<div class="section">
    
    <h2>Dashboard</h2>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-8"> 
            <div class="row1">
                <b><h3 style="margin-left: 20px; font-size: 18pt; font-family:Arial, Helvetica, sans-serif;">Welcome Back Julie!</h3></b>
                <ul>
                    <p style="margin-left: -13px;">Since your last login on the system, there were:</p>
                    <li>21 new charts</li>
                    <li>15 new reports</li>
                    <li>45 new messages</li>
                </ul>                
                <img src="../../assets/images/welcome.png" alt="hi" class="hi">
            </div>

            <!-- burada orta kısım cardları -->
            <div class="row align-items-around">
                <!-- burada kısım card balance ve statistics -->
                <div class="col-2">
                    <div class="row row-r21 ">
                        <div class="row " style="margin-bottom: 0px;">
                            <div class="col" >                            
                                <b><span>$9.564</span></b>
                                <p>Card Balance</p>
                            </div>
                            <div class="col" style=" padding-right: 5px; ">
                                <img src="../../assets/images/icon.png" alt="icon">
                            </div>
                            
                        </div>
                        <div class="row "  style="height:100px; width: 150px; ">                            
                            <div id="chart " >
                                <apx-chart
                                [series]="chartOptions['series']"
                                [chart]="chartOptions['chart']"
                                [xaxis]="chartOptions['xaxis']"                                
                                [dataLabels]="chartOptions['dataLabels']" 
                              ></apx-chart>
                              </div>
                        </div>                    

                        
                    </div>
                    <div class=" row-r22">
                        <div class="row" >
                            <span style="margin:10px"><b>Statistics</b></span>
                        </div>
                        <div class="row" >
                                <div class="col" style="margin-left:10px;">
                                  Received
                                </div>
                                <div class="col">
                                  Transfered
                                </div>
                        </div>
                        <div>
                            grafik
                        </div>
                    </div>
                </div>
                <!-- burada orta cardlar var Analytics, K, Status -->
                <div class="col-2">
                    <div class="row-m1">
                        <div class="row justify-content-between">
                            <div class="col-8">
                                Analytics
                            </div>
                            <div class="col-4 " >
                                <i class='fas fa-ellipsis-v' style='font-size:24px;color:white'></i>
                            </div>
                        </div>
                        <div class="row">
                            <div id="bar">
                                <!-- <apx-chart
                                  [series]="barOptions.series"
                                  [chart]="barOptions.chart"
                                  [yaxis]="barOptions.yaxis"
                                  [xaxis]="barOptions.xaxis"
                                  [labels]="barOptions.labels"
                                  [stroke]="barOptions.stroke"
                                  [title]="barOptions.title"
                                  [dataLabels]="barOptions.dataLabels"
                                  [fill]="barOptions.fill"
                                  [tooltip]="barOptions.tooltip"
                                ></apx-chart> -->
                              </div>
                        </div>

                    </div>
                    <div class="row-m2">
                        <div class="row" style="padding: 5px;">
                            <div class="col-8">
                                <span><b>342.6K</b></span> <br>
                                <span style="font-size: 8pt;">Successfuly Completed</span>
                            </div>
                            <div class="col-4 " style="padding-top: 5px;">
                                <i class='far fa-arrow-alt-circle-right' style=' font-size:28px;color:white; background-color: #00CCF2; border-radius: 50px;'></i>
                            </div>
                        </div>

                    </div>
                    <div class="row-m3">
                        <div class="row">
                            <div class="col">
                                <mat-progress-spinner
                                class="example-margin"
                                [color]="color"
                                [mode]="mode"
                                [value]="value">
                                </mat-progress-spinner>

                            </div>
                            <div class="col">
                                <p><b>
                                    Status
                                </b></p>
                                <span>
                                    Growth
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>


            <!-- burada sağ bölüm cardları -->
            <div class="col-sm-3 justify-content-around">
                    <div class="col ">
                        <div class="row ">
                            <div class="row-r1">
                                <img src="../../assets/images/line2.png" alt="">
                                <span style="font-size: 20pt; "><b>3.4K</b></span>
                                <p >This Month</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-c21">

                                <img src="../../assets/images/clone_icon.png" alt="">
                                <b><p>2.8K</p></b>
                                <span>Monthly</span> <br>
                                 <span>Invoices</span>
                                <i class='far fa-arrow-alt-circle-right' style='font-size:24px;background-color:  #789af3; position: absolute; border-radius: 50px;'></i>
                            </div>
                            <div class="col col-c22">
                                <img src="../../assets/images/download_icon.png" alt="">
                                <b><p>41.7K</p></b>
                                <span>Monthly</span> <br>
                                <span>Downloads</span>
                                <i class='far fa-arrow-alt-circle-right' style='font-size:24px;background-color: #ba58e6;position: absolute; border-radius: 50px;'></i>

                            </div>

                        </div>
                        <div class="row">
                            
                            <div class="row-r3 " style="position: relative;">
                                <p><b>Calendar</b></p>
                                <ejs-calendar style=" align-self: start;border-radius: 20px; background-color: #29313A; margin-right: -40px; position: relative; "></ejs-calendar>
                            </div>
                        </div>

                    </div>
            </div>
    
        </div>
    </div>
    
    
    
    
</div>
