<div class="section">
    
    <h2>Dashboard</h2>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-8"> 
            <div class="row1">
                <b><h3 style="margin-left: 20px; font-size: 18pt; font-family:Arial, Helvetica, sans-serif;">Welcome Back Julie!</h3></b>
                <ul>
                    <p style="margin-left: -13px;">Since your last login on the system, there were:</p>
                    <li>21 new charts</li>
                    <li>15 new reports</li>
                    <li>45 new messages</li>
                </ul>                
                <img src="../../assets/images/welcome.png" alt="hi" class="hi">
            </div>

            <!-- burada orta kısım cardları -->
            <div class="row align-items-around">
                <!-- burada kısım card balance ve statistics -->
                <div class="col-2">
                    <div class="row row-r21">
                        <div class="row justify-content-between">
                            <div class="col" >                            
                                <b><span>$9.564</span></b>
                                <p>Card Balance</p>
                            </div>
                            <div class="col" style=" padding-right: 5px; ">
                                <img src="../../assets/images/icon.png" alt="icon">
                            </div>
                        </div>
                        <div class="row">
                            
                            <!-- <div id="chart">
                                <apx-chart
                                [chart]="chartOptions.chart"
                                style="height: 250px; width: 160px;"
                                ></apx-chart>
                              </div> -->
                        </div>                    

                        
                    </div>
                    <div class=" row-r22">
                        <div class="row" >
                            <span style="margin:10px"><b>Statistics</b></span>
                        </div>
                        <div class="row" >
                                <div class="col" style="margin-left:10px;">
                                  Received
                                </div>
                                <div class="col">
                                  Transfered
                                </div>
                        </div>
                        <div>
                            grafik
                        </div>
                    </div>
                </div>
                <!-- burada orta cardlar var Analytics, K, Status -->
                <div class="col-2">
                    <div class="row-m1">
                        <div class="row justify-content-between">
                            <div class="col-8">
                                Analytics
                            </div>
                            <div class="col-4 " >
                                <i class='fas fa-ellipsis-v' style='font-size:24px;color:white'></i>
                            </div>
                        </div>

                    </div>
                    <div class="row-m2">
                        <div class="row">
                            <div class="col">
                                <span><b>342.6K</b></span>
                                <p style="font-size: 8pt;">Successfuly Completed</p>
                            </div>
                            <div class="col">
                                <i class='far fa-arrow-alt-circle-right' style='font-size:48px;color:blue'></i>
                            </div>
                        </div>

                    </div>
                    <div class="row-m3">
                        <div class="row">
                            <div class="col">
                                <mat-progress-spinner
                                class="example-margin"
                                [color]="color"
                                [mode]="mode"
                                [value]="value">
                                </mat-progress-spinner>

                            </div>
                            <div class="col">
                                <p><b>
                                    Status
                                </b></p>
                                <span>
                                    Growth
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>


            <!-- burada sağ bölüm cardları -->
            <div class="col-sm-3 justify-content-around">
                    <div class="col ">
                        <div class="row ">
                            <div class="row-r1">
                                <img src="../../assets/images/line2.png" alt="">
                                <span style="font-size: 20pt; "><b>3.4K</b></span>
                                <p >This Month</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-c21">

                                <img src="../../assets/images/clone_icon.png" alt="">
                                <b><span>2.8K</span></b>
                                <p>Monthly</p>
                                 <span>Invoices</span>
                                <i class='far fa-arrow-alt-circle-right' style='font-size:24px;background-color:  #789af3; position: absolute; border-radius: 50px;'></i>
                            </div>
                            <div class="col col-c22">
                                <img src="../../assets/images/download_icon.png" alt="">
                                <b><span>41.7K</span></b>
                                <p>Monthly</p>
                                <span>Downloads</span>
                                <i class='far fa-arrow-alt-circle-right' style='font-size:24px;background-color: #ba58e6;position: absolute; border-radius: 50px;'></i>

                            </div>

                        </div>
                        <div class="row">
                            <div class="row-r3">
                                <p><b>Calendar</b></p>
                            </div>
                        </div>

                    </div>
            </div>
    
        </div>
    </div>
    
    
    
    
</div>
