<div >
  <a mat-list-item routerLink="/logo" routerLinkActive="list-item-active">
    <mat-icon>bar_chart</mat-icon>
  </a>
</div>
<mat-nav-list> 

  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon style="font-size: 32px;">home</mat-icon>
  </a>
  <a mat-list-item routerLink="/folder" routerLinkActive="list-item-active">
    <mat-icon>folder</mat-icon>
  </a>
  <a mat-list-item routerLink="/statistic" routerLinkActive="list-item-active">
    <i class="fa fa-chart-pie"></i>
  </a>
  <a mat-list-item routerLink="/analytic" routerLinkActive="list-item-active">
    <i class="fa fa-sliders"></i>
  </a>
  <a mat-list-item routerLink="/settings" routerLinkActive="list-item-active">
    <mat-icon >settings</mat-icon>
  </a>
  

</mat-nav-list>

<div class="col">
  <img src="../../assets/images/profile.jpg" alt="Profile" class="profile">
</div>