
<section class="side-box">
    <div class="grid grid-cols-6 gap-4">
        <div class="col-start-2 col-span-4 ...">          
            <form>
                <div id="box">
                    <i class="fa fa-search"></i>
                    <input type="text" id="search" placeholder="            Search">                    
                </div>
             </form>
        </div>        
      </div>



    <div class="container text-center">
        <div class="row">        
          <div class="col">
            Activity
          </div>
          <div class="col">
            Notification
          </div>
          
        </div>

        <div style="padding-top: 40px;" class="row">
            <div class="col">
            
              Today
              <mat-icon style="padding-top: 7px;">keyboard_arrow_down</mat-icon>
            </div>
            <div class="col">              
            </div>
            
          </div>
        
    </div>

    <!-- 
      <div class="row" *ngFor="let item of list">
          <div class="col-4">
              <img src={{item.img}} class="person1">
            </div>
            <div class="col-8">
              <div>{{ item.activity }}</div>
              <div>{{ item.time }}</div>
          </div>
          
     -->


 
    
    <! --  burayı const olarak  -->
      <div class="activity">
        <div class="row" *ngFor="let item of list">
          <div class="col-4">
            <img src={{item.img}} alt="Resim">
            </div>
            <div class="col-8">
              <div>{{ item.activity }}</div>
              <div>{{ item.time }}</div>
          </div>
           


            
        </div>
      </div>
      
</section>